<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <!--booktopia Test css-->
        <link rel="stylesheet" th:href="@{/dist/css/booktopiaTest.css}">

        <!-- HTML Layout 부분-->
        <div class="wrap">
            <h1>Test Page</h1>
            <form action="/booktopiaTest/test" method="post">
                <div class="wrap">
                    <div class="test-contain">
                        <div class="test-title">
                            <div class="title">
                                <h1>BookTopia 취향검사 Test</h1>
                                <h1>나만의 도서 취향을 선택해보세요</h1>
                            </div>
                        </div>
                        <div class="test">
                            <div class="bar-progress">
                                <div class="bar">
                                    <div class="percent"> >> </div>
                                </div>
                            </div>
                            <div class="test-content">
                                <div class="content-detail">
                                    <h1> 취향검색지 내용</h1>
                                    <button type="button"> 답변 1</button>
                                    <button type="button"> 답변 2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </th:block>
</th:block>
