<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <!--booktopia Test css-->
        <link rel="stylesheet" th:href="@{/dist/css/booktopiaTest.css}">

        <!-- HTML Layout 부분-->
        <div class="wrap">
            <form action="/booktopiaTest/test" method="post">
                <div class="wrap">
                    <div class="test-contain">
                        <div class="test-title">
                            <div class="title">
                                <h1>BookTopia 취향검사 Test</h1>
                                <h1>나만의 도서 취향을 선택해보세요</h1>
                            </div>
                        </div>
                        <div class="test">
                            <div class="bar-progress">
                                <div class="bar">
                                    <div class="percent"></div>
                                </div>
                            </div>
                            <div class="test-content">
                                <div id="questionInfo" style="display:block;">
                                    <p>생년월일 </p>
                                    <input type="text" name="birth" placeholder="ex)19900101">
                                    <p>성별</p>
                                    <input type="radio" name="gender" value="남">남
                                    <input type="radio" name="gender" value="여">여
                                    <button type="button" id="next"> Next </button>
                                </div>

                                <div class="content-detail" id="questionDiv" style="display: none;">
                                    <h1 id="question"></h1>
                                    <button type="button" class="answer1 first" id="btn1" ></button>
                                    <button type="button" class="answer2 second" id="btn2"></button>
                                </div>

                                <div id="resultDiv" style="display: none">
                                    <h1 id="testResult">당신의 도서 취향은 어떻게 될까요?</h1>
                                    <button type="button" class="result" id="resultBtn">결과 보기</button>
                                    <button type="button" id="home">Home</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--js 영역-->
        <script th:src="@{/dist/js/testScript.js}" ></script>
    </th:block>
</th:block>
