<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoText">my page</div>
            <div class="myPageRightWrapInfoModWrap">
                <div class="myPageRightWrapForm">
                    <form action="/user/modify" method="POST">
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">배송지</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="address" placeholder="address..." id="changeAddr"><br>
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">새 비밀번호 확인</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="phone" placeholder="phone..." id="changePhone"
                                       th:value="${#authentication.getPrincipal().getUserInfo.getPhone() == null ? '' :
                                       #authentication.getPrincipal().getUserInfo().getPhone()}"><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>