<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoModWrap" style="background-image: url(../image/modifybg.png">
                <div class="myPageRightWrapForm">
                    <div class="couponWrap">
                        <div class="counponInName">BookTopia COUPON</div>
                        <div class="couponInfoLeft">
                            <div id="couponInfoTitle">50% 할인</div>
                            <div id="couponInfoGarrent">1년 이상 누적 구독시, 구독권 50% 할인</div>
                        </div>
                        <div class="couponInfoRight">
                            <div id="couponInfoAt">사용기한 | 무제한</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>