<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoText">내 쿠폰함</div>
            <div class="myPageRightWrapInfoModWrap">
                <div class="couponWrap">
                    <p>BookTopia COUPON</p>
                    <p>50% 할인</p>
                    <p>1년 이상 누적 구독시, 구독권 50% 할인</p>
                    <p> 사용기한 | 무제한 </p>
                </div>
            </div>
        </div>
    </div>
</div>