<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoText">개인정보 수정</div>
            <div class="myPageRightWrapInfoModWrap">
                <div class="myPageRightWrapForm">
                    <form action="/user/modify" method="POST">
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">아이디</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="id" placeholder="id...."
                                       th:value="${#authentication.getName()}">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">이메일</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="email" placeholder="email...."
                                       th:value="${#authentication.getPrincipal().userVO.getEmail()}">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">새 비밀번호</div>
                            <div class="mypageModInputFormData">
                                <input type="password" name="pwd" placeholder="newPwd..." id="changePwd"><br>
                            </div>

                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">새 비밀번호 확인</div>
                            <div class="mypageModInputFormData">
                                <input type="password" name="newPwd" placeholder="checkPwd..." id="changeNewPwd"><br>
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">이름</div>
                            <div class="mypageModInputFormData">
                                <input type="text" value="가입한 아이디" readonly="readonly"
                                       th:value="${#authentication.getPrincipal().userVO.getName()}">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">휴대전화</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="phone" placeholder="phone..."
                                       th:value="${#authentication.getPrincipal().userVO.getPhone() == null ? '' :
                                       #authentication.getPrincipal().userVO.getPhone()}" id="modifyPhone">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrapBtn">
                            <button type="submit" id="submitButton">회원정보 수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>