<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoText">개인정보 수정</div>
            <div class="myPageRightWrapInfoModWrap">
                <div class="myPageRightWrapForm">
                    <form action="/user/modify">
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">아이디</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="id" placeholder="id....">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">현재 비밀번호</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="pwd" placeholder="pwd....">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">새 비밀번호</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="newPwd" placeholder="newPwd...">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">새 비밀번호 확인</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="checkNewPwd" placeholder="checkPwd...">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">이름</div>
                            <div class="mypageModInputFormData">
                                <input type="text" value="가입한 아이디" readonly="readonly">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">휴대전화</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="phone" placeholder="phone...">
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">성별</div>
                            <div class="mypageModInputFormData">
                                체크박스 나중에 생성
                            </div>
                        </div>
                        <div class="myPageModInputFormWrapBtn">
                            <button type="submit">회원정보 수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>