<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoText">my page</div>
            <div class="myPageRightWrapInfoModWrap">
                <div class="myPageRightWrapForm">
                    <div>
                        <ul id="payInforesult">
                            <th:block th:each="plist:${plist}">
                            <li>[[plist.itemName]]</li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>