<!DOCTYPE html>
<title>안녕하세요</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/dist/css/communityList.css}">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <!--공지-->
        <div class="wrap">
            <div class="commNoticeLine"></div>
            <!--카테고리선택가능라인-->
            <!--아이콘 작게해서 한줄로 6개 모두 나타내가-->
            <div class="commCateLine">
                <div class="commCateChoice1"></div>
                <div class="commCateChoice2"></div>
                <div class="commCateChoice3"></div>
                <div class="commCateChoice4"></div>
                <div class="commCateChoice5"></div>
                <div class="commCateChoice6"></div>
            </div>
            <!--글쓰기 버튼-->
            <div class="commRegBtn"></div>
            <!--게시판 리스트-->
            <div class="commListArea">
                <div class="commListContent">
                    <div class="commTitle"></div>
                    <div class="commContent"></div>
                    <div class="commImg"></div>
                    <div class="commCntInfo">
                        <div class="commCmtCnt"></div>
                        <div class="commHeartCnt"></div>
                        <div class="commReadCnt"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>
