<!DOCTYPE html>
<title>안녕하세요</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/dist/css/communityMain.css}">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrap">
            <div class="commVote">
                <div class="commMonth"><p>6월의 토론주제</p></div>
                <div class="commChoice">당신의 선택은?</div>
                <div class="commTopic">토론주제</div>
                <div class="commViewVote">
                    <div class="commVoteUp" id="voteUp">
                        <a th:href="@{/community/clickUp}"><button class="upBtn"><img src="/image/thumbs-up.png" alt="투표이미지" /></button></a>
                    </div>
                    <div class="commVoteBar"></div>
                    <div class="commVoteDown">
                        <button class="downBtn"><img th:src="@{/image/thumbs-up.png}" alt="투표이미지" /></button>
                    </div>
                </div>
            </div>
            <!--카테고리라인-->
            <div class="commBoard">
                <div class="commBoardArea">
                    <div class="commBoardtext">자유롭게..</div>
                    <!--전체보기버튼-->
                    <div class="commBoardAll">
                        <a th:href="@{/community/communityList}">
                            <span>전체보기 ></span>
                        </a>
                    </div>
                    <!--커뮤니티카테고리-->
                    <div class="CommBoardCate">
                        <div class="commCategory-top">
                            <div class="commCate1 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>소설</p>
                                </div>
                            </div>
                            <div class="commCate2 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>시/에세이</p>
                                </div>
                            </div>
                            <div class="commCate3 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>경제/경영</p>
                                </div>
                            </div>
                        </div>
                        <div class="commCategory-bottom">
                            <div class="commCate4 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>인문</p>
                                </div>
                            </div>
                            <div class="commCate5 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>역사/문화</p>
                                </div>
                            </div>
                            <div class="commCate6 commCate">
                                <div class="commCateImg">
                                    <a th:href="@{/community/communityList}">
                                        <img th:src="@{/image/book_icon.png}" alt="책 아이콘" />
                                    </a>
                                </div>
                                <div class="commCatetext">
                                    <p>자기개발</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/dist/js/voteButton.js}"></script>
    </th:block>
</th:block>