<!DOCTYPE html>
<title>안녕하세요</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/dist/css/communityList.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!--마크다운 라이브러리-->
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <!--공지-->
        <div class="wrap">
            <!--검색창-->
            <form th:action="@{/community/communityList}" method="get">
                <div>
                    <select th:name="type" class="commSelect commSearchArea">
                        <option th:selected="${ph.pgvo.type==null?true:false}">선택</option>
                        <option th:value="wtc" th:selected="${ph.pgvo.type=='wtc'?true:false}">전체</option>
                        <option th:value="w" th:selected="${ph.pgvo.type=='w'?true:false}">작성자</option>
                        <option th:value="t" th:selected="${ph.pgvo.type=='t'?true:false}">제목</option>
                        <option th:value="c" th:selected="${ph.pgvo.type=='c'?true:false}">게시글</option>
                    </select>
                    <input type="text" class="commSeaBar commSearchArea" th:value="${ph.pgvo.keyword}" name="keyword" placeholder="검색어를 입력해주세요">
                    <input type="hidden" name="pageNo" th:value="1">
                    <input type="hidden" name="qty" th:value="${ph.pgvo.qty}">
                    <button type="submit" class="commSeaBtn commSearchArea">검색</button>
                </div>
            </form>
            <div class="commNoticeLine">
                <span class="NoticeBlock">공지</span>
                <a th:href="@{/community/communityNotice}">
                    <div class="NoticeTitle">공지제목</div>
                </a>
            </div>
            <!--카테고리선택가능라인-->
            <!--아이콘 작게해서 한줄로 6개 모두 나타내가-->
            <div class="commCateLine">
                <div class="commCateChoice1 commCateChoice"></div>
                <div class="commCateChoice2 commCateChoice"></div>
                <div class="commCateChoice3 commCateChoice"></div>
                <div class="commCateChoice4 commCateChoice"></div>
                <div class="commCateChoice5 commCateChoice"></div>
                <div class="commCateChoice6 commCateChoice"></div>
            </div>
            <!--글쓰기 버튼-->
            <div class="commRegBtn">
                <a th:href="@{/board/register}">
                    <img th:src="@{/image/pencil.png}" alt="글쓰기 아이콘">
                    <p>글쓰기</p>
                </a>
            </div>
            <!--게시판 리스트-->
            <div class="commListArea" th:each="bvo:${blist}">
                <div class="commListContent">
                    <div class="commTitle">
                        <a th:href="@{/board/detail(bno=${bvo.getBno()})}">[[${bvo.bTitle}]]</a>
                    </div>
                    <div class="commWriter">[[${bvo.bWriter}]]</div>
                    <div class="commContent">
                        <a th:href="@{/board/detail(bno=${bvo.getBno()})}">[[${bvo.bContent}]]</a>
                    </div>
                    <div class="commImg" th:if="${bvo.bMainImg ne null}">
                        파일있음
                        <img th:src="@{|/_fileUpload/${bvo.bMainImg}}">
                    </div>
                    <div class="commCntInfo">
                        <div class="commCmtCnt commCnt">댓글 0</div>
                        <div class="commHeartCnt commCnt">좋아요 0</div>
                        <div class="commReadCnt commCnt">조회수 0</div>
                    </div>
                </div>
            </div>
            <!--검색결과 없을때 출력-->
            <div th:if="${ph.totalCount < 1}" class="commNon">
                <p>검색된 게시물이 없습니다.</p>
            </div>
            <!-- 페이지네이션 -->
            <div class="commPage">
                <ul>
                    <!--이전-->
                    <li th:if="${ph.prev}">
                        <a th:href="@{/community/communityList(pageNo=${ph.startPage-1},qty=${ph.pgvo.qty}
                        ,type=${ph.pgvo.type},keyword=${ph.ogvo.keyword})}"><span>&laquo;</span></a>
                    </li>
                    <!--페이징-->
                    <th:block th:each="i: ${#numbers.sequence(ph.startPage,ph.endPage)}">
                        <li th:classappend="${ph.pgvo.pageNo==i?'active':''}">
                            <a th:href="@{/community/communityList(pageNo=${i},qty=${ph.pgvo.qty},
                            type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <!--다음-->
                    <li th:if="${ph.next}">
                        <a th:href="@{/community/communityList(pageNo=${ph.endPage+1},qty=${ph.pgvo.qty},
                        type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script th:src="@{/dist/js/markdown.js}"></script>
    </th:block>
</th:block>
