<!DOCTYPE html>
<title>getPay</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <!DOCTYPE html>
        <!-- 결제창 -->
        <div class="wrap">
            <div class="payTitle">
                <p>주문서 작성</p>
            </div>
            <div class="payOutBox">
                <div class="payInBox1">
                    <div class="payInnerDiv1">
                        <p>배송정보</p>
                    </div>
                    <hr>
                    <div class="payInnerDiv2">
                        <p>이름</p>
                        <input type="text" placeholder="이름을 입력해주세요.">
                    </div>
                    <div class="payInnerDiv2">
                        <p>전화번호</p>
                        <input type="text" placeholder="'-' 제외하고 입력해주세요.">
                    </div>
                    <div class="payInnerDiv2">
                        <p>주소</p>
                        <input type="text" class="addrInput" placeholder="주소를 입력해주세요.">
                        <button type="button" class="payGetAddrBtn">주소 검색</button>
                        <input type="text" placeholder="상세 주소를 입력해주세요.">
                    </div>
                    <div class="payInnerDiv2">
                        <p>배송 메모</p>
                        <input type="text" placeholder="(예시: 부재 시 경비실에 맡겨 주세요.)">
                    </div>
                    <div class="payInnerDiv2">
                        <p>결제 방식</p>
                    </div>
                    <hr>
                    <button type="button">카카오페이</button>
                </div>
                <div class="payInBox2">
                    <div class="payInnerDiv1">
                        <p>선택 상품 정보</p>
                    </div>
                    <div class="payInnerDiv1">
                        subTicket img
                    </div>
                    <div class="payInnerDiv1">
                        <p>subTicket name</p>
                    </div>
                    <div>
                        <input type="text" class="couponCodeInput" placeholder="쿠폰 코드를 입력하세요">
                        <button type="button" class="addCouponBtn">등록하기</button>
                    </div>
                    <div>
                        사용 가능한 쿠폰 ()장
                    </div>
                    <hr>
                    <div class="payInnerDiv3">
                        <div>
                            <div>상품 금액</div>
                            <div>------원</div>
                        </div>
                        <div>
                            <div>쿠폰 할인</div>
                            <div>- -----원</div>
                        </div>
                        <div>
                            <div>결제 금액</div>
                            <div>------원</div>
                        </div>
                    </div>

                    <button type="button" class="payBtn">결제하기</button>
                </div>
                <!-- payOutBox div -->
            </div>
            <!-- wrap div -->
        </div>
    </th:block>
</th:block>
</html>
