<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/join.css}">
    <script type="text/javascript" th:src="@{/dist/js/join.js}"></script>
</head>
<body>
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrap">
            <div class="joinWrapPage">
                <div class="joinAgreePage">
                    <div class="joinAgreeCheckBox">
                        <input type="checkbox" class="joinCheckBox" id="agree_box">
                    </div>
                    <div class="joinAgreeContent">
                        <input type="button" value="아래의 모든 약관에 동의합니다.">
                    </div>
                </div>
                <div class="joinAllPage">
                    <div class="join">
                        <form action="/user/join" method="post">
                            <div class="joinIdArea joinArea">
                                <div class="joinTextBox">
                                    <span class="joinStar">*</span>아이디
                                </div>
                                <div class="joinduplicationBtn">
                                    <button type="button" id="joinCheckIdBtn">중복확인</button>
                                </div>
                                <input type="text" name="id" id="joinId" placeholder="영문,소문자,숫자를 이용한 6~13자리" class="joininput">
                                <span id="joinUnderlineId"></span>
                            </div>
                            <div class="joinPwdArea joinArea">
                                <div class="joinTextBox">
                                    <span class="joinStar">*</span>비밀번호
                                </div>
                                <input type="password" name="pwd" id="pwd" placeholder="영문,숫자,특수문자 포함 8~20자" class="joininput">
                            </div>
                            <div class="joinPwdArea joinArea">
                                <div class="joinTextBox">
                                    <span class="joinStar">*</span>비밀번호 확인
                                </div>
                                <input type="password" name="pwd_Confirm" id="pwdConfirm" placeholder="비밀번호와 일치해야합니다." class="joininput">
                                <span id="joinUnderlinePwd"></span>
                            </div>
                            <div class="joinNameArea joinArea">
                                <div class="joinTextBox">
                                    <span class="joinStar">*</span>이름
                                </div>
                                <input type="text" name="name" id="nameCheck" placeholder="실명을 입력하세요" class="joininput">
                                <span id="joinUnderlineName"></span>
                            </div>
                            <div class="joinJoinBtn">
                                <button type="submit" id="signUp" disabled>가입하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>
