<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/dist/css/login.css}">
<script type="text/javascript" th:src="@{/dist/js/login.js}"></script>
<th:block th:replace="~{layout2 :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrap">
            <div class="loginWrapPage">
                <div class="loginAllPage">
                    <form action="/user/login" method="post">
                        <input type="text" name="id"placeholder="id..." id="loginId"><br>
                        <input type="password" name="pwd" placeholder="pwd" id="loginPwd"><br>
<!--                        <div th:if="errorMessage">-->
<!--                            <p class="errMsg"><a th:text="${errorMessage}"></a></p>-->
<!--                        </div>-->
                        <div class="loginLoginBtn">
                            <button type="submit">로그인</button>
                        </div>
                    </form>
                    <div class="loginLostWrap">
<!--                        이름입력으로-->
                        <div class="loginLostLogin loginFindDiv">
                            <a th:href="@{/user/findId}"><button type="button" id="loginLost" class="loginFind">아이디 찾기</button></a>/
                        </div>
<!--                        아이디 입력으로-->
                        <div class="loginLostPwd loginFindDiv">
                            <a th:href="@{/user/findPw}"><button type="button" id="pwdLost" class="loginFind">비밀번호 찾기</button></a>/
                        </div>
                        <div class="loginToResister loginFindDiv">
                            <a th:href="@{/user/join}"><button type="button" id="toResiter" class="loginFind">회원가입</button></a>
                        </div>
                    </div>
                    <div class="loginSocialBtn">
                        <div class="loginKakaoBtn">
                            <a th:href="@{/oauth2/authorization/naver?mode=login}" class="test">
                                <img th:src="@{/image/naverLogin.png}" alt="네이버 로그인 버튼" />
                            </a>
                        </div>
                        <div class="loginNaverBtn">
                            <a th:href="@{/oauth2/authorization/kakao?mode=login}" class="test">
                                <img th:src="@{/image/kakaoLogin.png}" alt="카카오 로그인 버튼" />
                            </a>
                        </div>
                        <div class="loginGoogleBtn">
                            <a th:href="@{/oauth2/authorization/google?mode=login}" class="test">
                                <img th:src="@{/image/googleLogin.jpg}" alt="구글 로그인 버튼" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            window.onload = function () {
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('error')) {
                    alert('로그인 후 이용 가능합니다.');
                }else if(urlParams.has('false')){
                    alert('아이디와 비밀번호를 확인해주세요.');
                }
            };
        </script>

    </th:block>
</th:block>

