<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktopia.www.repository.OrderInfoMapper">
<insert id="regiOrderUser">
    insert into order_info (ord_name, ord_phone, ord_addr, ord_addr_detail, ord_memo)
    values (#{ordName},#{ordPhone},#{ordAddr},#{ordAddrDetail},#{ordMemo})
</insert>
</mapper>