<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktopia.www.repository.UserMapper">
    
    <insert id="joinInsert">
        insert into user(id,pwd,email,name,user_type) values(#{id},#{pwd},#{email},#{name},'일반')
    </insert>
    <insert id="joinInsertOauth">
        insert into user(id,email,name,user_type) values(#{id},#{email},#{name},#{userType})
    </insert>
    <insert id="insertAuth">
        insert into auth values(#{id},'ROLE_USER')
    </insert>

    <select id="selectId" resultType="com.booktopia.www.domain.UserVO">
        select * from user where id=#{id} and user_del = 'N'
    </select>
    <select id="selectAuths" resultType="com.booktopia.www.domain.AuthVO">
        select * from auth where id=#{id}
    </select>

    <select id="findByEmail" resultType="com.booktopia.www.domain.UserVO">
        select * from user where pwd=#{pwd}
    </select>

    <insert id="saveOauthUser">
        insert into user(id,pwd,name,email,user_type) values(#{id},#{pwd},#{name},#{email},#{userType})
    </insert>

    <insert id="authUserRegister">
        insert into auth values(#{pwd},"ROLE_USER")
    </insert>

    <select id="checkId" resultType="int">
        select count(id) from user where id=#{id}
    </select>

    <select id="isSocialUser" resultType="String">
        select user_type from user where id=#{id}
    </select>

    <update id="modifyMyinfo">
        update user set phone=#{phone},user_up=now() where id=#{id}
    </update>

    <update id="modifyMyinfoWithPwd">
        update user set pwd = #{pwd},phone = #{phone},user_up=now() where id=#{id}
    </update>

    <select id="findId" resultType="String">
        select id from user where id=#{id} and user_type = '일반' and user_del = 'N'
    </select>

    <select id="findPwCheck" resultType="int">
        select count(id) from user where id=#{id} and email=#{email}
    </select>

    <select id="findUserByUserId" resultType="String">
        select id from user where email = #{email}
    </select>

    <update id="updateUserPassword">
        update user set pwd = #{pw} where id=#{id}
    </update>


</mapper>