<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booktopia.www.repository.UserMapper">
    
    <insert id="joinInsert">
        insert into user(id,pwd,name,phone,user_reg,user_type) values(#{id},#{pwd},#{name},#{phone},now(),'일반')
    </insert>
    <insert id="insertAuth">
        insert into auth values(#{id},'ROLE_USER')
    </insert>

    <select id="selectId" resultType="com.booktopia.www.domain.UserVO">
        select * from user where id=#{id} and pwd=#{pwd} and user_del = 'N'
    </select>
    <select id="selectAuths" resultType="com.booktopia.www.domain.AuthVO">
        select * from auth where id=#{id}
    </select>


</mapper>