<!DOCTYPE html>
<title>북토피아에 오신것을 환영합니다</title>
<html lang="en">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrap">

            <!--챗봇-->
            <div class="chatBotContain" >
                <div id="chatBotText" class="chatBotText" style="display: none">
                    <div class="textTop">
                        <span>북토피아 챗봇 서비스</span>
                        <button type="button" id="textBtn">X</button>
                    </div>
                    <div class="textBody" th:style=" 'background-image: url(../image/msgArea.png)' ">
                        <p class="AnserText"></p>
                    </div>
                    <div class="textFoot">
                        <button type="button" class="txtF" id="chatbtn1">BookTopia?</button>
                        <button type="button" class="txtF" id="chatbtn2">구독상품 문의</button>
                        <button type="button" class="txtF" id="chatbtn3">홈페이지 오류 문의</button>
                        <button type="button" class="txtF" id="chatbtn4">회원가입 / 로그인 문의</button>
                        <button type="button" class="txtF" id="chatbtn5">커뮤니티 문의</button>
                        <button type="button" class="txtF" id="chatbtn6">배송 문의</button>
                    </div>
                </div>
                <div class="chatBotDiv">
                    <div id="btn">
                        <img class="chatBotIcon" th:src="@{/image/chatbot.png}"> <br>
                    </div>
                </div>
            </div>
            <div class="test" th:style=" 'background-image: url(../image/mainnew2.png)' "></div>
            <div class="copyRight"> ⓒ2024, Team KKOY All right reserved.</div>
        </div>

    </th:block>
</th:block>
</html>
