<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setFragment(content)">
    <head>
        <meta charset="UTF-8">
        <title>Booktopia Test</title>
        <link rel="stylesheet" th:href="@{/dist/css/header.css}">
        <link rel="stylesheet" th:href="@{/dist/css/reset.css}">
        <link rel="stylesheet" th:href="@{/dist/css/login.css}">
    </head>
    <body>
    <div class="wrap">
        <div class="contain-body">
            <a class="logo" href="#">00</a>
            <div class="cate">
                <ul>
                     <li><a class="cate cate1" href="#">북토피아 소개</a></li>
                     <li><a class="cate cate2" href="#">구독상품</a></li>
                     <li><a class="cate cate3" href="#">커뮤니티</a></li>
                     <li><a class="cate cate4" href="#">취향검사</a></li>
                     <li class="rigth"><a class="register" href="#">회원가입</a></li>
                     <li ><a class="login" href="#">로그인</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-fluid">
        <th:block th:replace="${content}"></th:block>
    </div>

    <div class="footer">
        footer 영역
    </div>
    </body>
</th:block>
</html>