<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setFragment(content)">
    <head>
        <meta charset="UTF-8">
        <title>Booktopia Test</title>
        <link rel="stylesheet" th:href="@{/dist/css/header.css}">
        <link rel="stylesheet" th:href="@{/dist/css/reset.css}">
        <link rel="stylesheet" th:href="@{/dist/css/footer.css}">
        <link rel="stylesheet" th:href="@{/dist/css/mainPage.css}">
    </head>
    <body>
    <nav class="contain-header">
        <div class="wrap-header">
            <div class="contain-body">
                <a class="logo" th:href="@{/}">로고</a>
                <div class="cate">
                    <ul>
                        <li><a class="cate cate1" href="#">북토피아 소개</a></li>
                        <li><a class="cate cate2"  th:href="@{/subscribe/info}">구독상품</a></li>
                        <li><a class="cate cate3" th:href="@{/community/communityMain}">커뮤니티</a></li>
                        <li><a class="cate cate4" th:href="@{/booktopiaTest/test}">취향검사</a></li>
                        <li class="right"><a class="register" th:href="@{/user/join}">회원가입</a></li>
                        <li><a class="login" th:href="@{/user/login}">로그인</a></li>
                        <!--                    5.25 윤지명 내정보 확인용-->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/myPage}">내정보</a>
                        </li>
                        <!--                    -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="content-fluid">
        <th:block th:replace="${content}"></th:block>
    </div>

    <footer>
        <div class="flogo">로고</div>
        <div>
            <ul>
                <li class="fli"><a href="#">공지사항</a></li>
                <li class="fli"><a href="#">이용안내</a></li>
                <li class="fli"><a href="#">개인정보처리방침</a></li>
                <li class="fli"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>

    </body>
</th:block>
</html>